@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);@font-face {
  font-family: DauphinPlain;
  src: url(/fonts/DauphinPlain.eot?#iefix) format('embedded-opentype'),url(/fonts/DauphinPlain.woff) format('woff'),url(/fonts/DauphinPlain.ttf) format('truetype'),url(/fonts/DauphinPlain.svg#DauphinPlain) format('svg');
  font-weight: 400;
  font-style: normal
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
  background: url(top-image.png) no-repeat left top; /*fallback image*/
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2)),
              url(top-image.png) no-repeat left top,
              url(bottom-image.png) no-repeat left bottom;
  background-color: white; /*fallback color*/
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

h1 {
  background-image: url('logo.png');
  /*filter: drop-shadow(5px 5px 5px black);*/
  border-radius: 100%;
  box-shadow: 5px 5px 5px black;
}

#LoremIpsum {
  text-align: center;
  width: 100%;
  margin-top: 200px;
  position: relative;
}

h2 {
  font-size: 50px;
  font-style: italic;
  line-height: 75px;
}

h2, h3 {
  font-weight: 400;
  font-family: DauphinPlain;
}

* {
  margin: 0;
  padding: 0;
}

#Pokemon {
  margin: 20px 15px 0px 15px;
  font-size: 6px;
  clear: both;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 9px;
  font-style: italic;
}

h4, h5, h6 {
  font-weight: 400;
}

h5 {
  margin: 0px 10px 5px 10px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
}

h6 {
  margin: 5px 10px 20px 10px;
  font-size:  8px;
  line-height: 14px;
  text-align: center;
}

#Pokemon a {
  padding: 2px;
  font-size: 8px;
  line-height: 10px;
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  width: 80%;
  margin: auto;
  background-image: linear-gradient(to right, transparent, gray, transparent);
}

#Content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  margin-top: 15px;
}

#Content>div:nth-of-type(odd) {
  margin-left: 3%
}

#Content>div:nth-of-type(even) {
  margin-right: 3%
}

#Content>div {
  width: 45.5%;
  text-align: left;
}

#Content>br {
  clear: both;
}

p {
  text-align: justify;
  margin: 0 0 15px 0;
  font-size: 12px;
}

a:active, a:link, a:visited {
  color:blueviolet;
}

a:hover {
  color: #d00;
}

form {
  margin-bottom: 10px;
}

table, td, th {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: middle;
  text-align: center;
}

td, th {
  padding: 0;
}

td td {
  text-align: left;
}

input#amount {
  width: 30px;
  text-align: center;
  padding: 3px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #666 #ccc #ccc #666;
}

input {
  margin: 3px 6px;
}

label {
  cursor: pointer;
  font-size: 12px;
}

input#generate {
  text-align: center;
  margin: 10px 0 20px 20px;
  padding: 3px 10px;
  border: 1px solid #999;
  background: #eee;
  border-radius: 4px;
}

input[type="radio"] {
  transform: scale(0.7); /* Adjust size */
  margin-right: 3px; /* Add space between buttons and labels */
}